:root {
    /* colors */
    --gray-900: #141414;
    --gray-800: #1F1F1F;
    --gray-700: #333333;
    --green: #C4F82A;
    --white: #FFFFFF;

    /* spacing */
    --spacing-500: 2.5rem; /* 40px */
    --spacing-300: 1.5rem; /* 24px */
    --spacing-200: 1rem;
    --spacing-150: 0.75rem; /* 12px */
    --spacing-100: 0.5rem; /* 8px */
    --spacing-50: 0.25rem; /* 4px */

    /* responsive design break points */
    --desktop-breakpoint: 1024px;
    --tablet-breakpoint: 768px;
    --mobile-breakpoint: 480px;
}

.text-preset-1, .text-preset-2, .text-preset-2-bold {
    line-height: 150%;
    letter-spacing: 0px;
}

/* typography */
.text-preset-1 {
    font-weight: 700;
    font-size: 1.5rem; /* 24px */
}
.text-preset-2 {
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
}
.text-preset-2-bold {
    font-weight: 700;
    font-size: 0.875rem; /* 14px */
}
/* custom fonts */
@font-face {
    font-family: "Inter";
    src: local("Inter"), url("./assets//fonts/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: 400 700;
}

/* global styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body, main {
    height: 100vh;
    background-color: var(--gray-900);
}
/*  */

.flex-box{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

main {
    justify-content: center;
    align-items: center;
}


/* mobile styles */
.profile-card {
    padding: var(--spacing-300);
    border-radius: var(--spacing-150);
    /* [Question] how many number should I keep after the decimal point ?? */
    width: 20.4375rem; /* 327px */
    background-color: var(--gray-800);

    text-align: center;
}

.owner-img {
    border-radius: 50%;
    width: 5.5rem; /* 80px */
    height: 5.5rem; /* 80px */
    align-self: center;
}

.owner-name {
    color: var(--white);
    margin-bottom: var(--spacing-50);
}
.owner-address {
    color: var(--green);
    font-style: normal;
}

.owner-description{
    color: var(--white);
}

.professional-links {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-200);

} 
.professional-link {
    background-color: var(--gray-700);
    border-radius: var(--spacing-100);
    padding: var(--spacing-150);
    color: var(--white);
}
.professional-link:hover {
    background-color: var(--green);
    color: black;
    cursor: url("./assets/images/black-hand-cursor.png"), pointer;
}
.professional-link a {
    text-decoration: none;
    display: block;
    color: inherit;
    cursor: inherit;
}

/*  */

/* tablet styles 
width >= 768px */
@media (min-width: 48rem) {
    .profile-card {
        padding: var(--spacing-500);
        /* [Question] how many number should I keep after the decimal point ?? */
        width: 24rem; /* 384px */
    }
}
/*  */


/* dekstop style 
width >= 1024px */
@media (min-width: 64rem) {
    .profile-card {
        padding: var(--spacing-500);
        /* [Question] how many number should I keep after the decimal point ?? */
        width: 24rem; /* 384px */
    }
}
/*  */